@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
/*
 'Merriweather'
 'Open Sans'
*/

*{
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    width: 100%;
    background-color: #F4E6DE;
    display: flex;
    align-items: center;
    justify-content: center; 
}

#main-div {
    width: 35%;
    background-color: white;
    padding: 2%;
    border-radius: 3vh;

}

header {
    margin-bottom: 4vh;
}

img {
    width: auto;
    height: 35vh;
    margin: 1vh;
    border-radius: 3vh;
}

h1, h2 {
    font-family: 'Merriweather', serif;
}
h2, .number {
    color:  #8D4A4A;
}

p, ul, ol, span {
    font-family: 'Open Sans', serif;
    color: #4A4A4A;
}

ol {
    list-style-type: decimal;
}

ol::marker {
    color: #8D4A4A;
}

h1 {
    margin-bottom: 2vh;
}

hr {
    margin: 5vh 0;
}

.nutrition-hr {
    margin: 1.5vh 0;
}

.preparation-time {
    padding: 4vh;
    margin: 5vh;
    background-color: #F3E5F5;
}

li {
    margin: 4%
}

.info {
    display: flex;
    justify-content: space-between;
}

