*{
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    width: 100%;
    background-color: #F4E6DE;
    display: flex;
    align-items: center;
    justify-content: center; 
}

#main-div {
    width: 35%;
    background-color: white;
    padding: 2%;
    border-radius: 3vh;

}

header {
    margin-bottom: 4vh;
}

img {
    width: auto;
    height: 35vh;
    margin: 1vh;
    border-radius: 3vh;
}

h1 {
    margin-bottom: 2vh;
}

hr {
    margin: 5vh 0;
}

.nutrition-hr {
    margin: 1.5vh 0;
}

.preparation-time {
    padding: 4vh;
    margin: 5vh;
    background-color: #F3E5F5;
}

li {
    margin: 4%
}

